*{
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    background: #c2e3ff;
}

#nameError{
    display: none;
}

#checkOutError{
    display: none;
}

#checkInError{
    display: none;
}

#paidConfirm, #freeConfirm{
    display: none;
}

#countdownPage{
    display: none;
}

/*.back{*/
/*    backd*/
/*}*/